<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenPLC Blank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body onload='loadData()'>
	<h2 style="color:#093657">My Blog</h2>
        <a href="/login">Login</a>
        <hr>
        {% with messages = get_flashed_messages()%}
        {% if messages %}
    <ul>
        {% for message in messages %}
            <li> {{message}}</li>
        {% endfor %}
    </ul>
        {% endif %}
        {% endwith %}
{% block content %} 
<div class='main'>
	<div class='w3-sidebar w3-bar-block' style='width:250px; background-color:#3D3D3D'>
	<br>
    <br>
	<div class="w3-bar-item"><img src="/static/home-icon-64x64.png" alt="Dashboard" style="width:47px;height:32px;padding:0px 15px 0px 0px;float:left"><p style='font-family:"Roboto", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Dashboard</p></div>
	<div class="w3-bar-item"><img src='/static/programs-icon-64x64.png' alt='Programs' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Programs</p></div>
	<div class="w3-bar-item"><img src='/static/modbus-icon-512x512.png' alt='Modbus' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Slave Devices</p></div>
	<div class="w3-bar-item"><img src='/static/monitoring-icon-64x64.png' alt='Monitoring' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Monitoring</p></div>
	<div class="w3-bar-item"><img src='/static/hardware-icon-980x974.png' alt='Hardware' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Hardware</p></div>
	<div class="w3-bar-item"><img src='/static/users-icon-64x64.png' alt='Users' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Users</p></div>
	<div class="w3-bar-item"><img src='/static/secon-64x64.png' alt='Settings' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Settings</p></div>
	<div class="w3-bar-item"><img src='/static/logout-icon-64x64.png' alt='Logout' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Logout</p></div>
	<br>
	<br>
	</div>
	<div style="margin-left:320px; margin-right:70px">
		<div style="w3-container">
		<br>

		<!-- scr="{{ url_for('static', filename='images/foo.jpg') }}" -->
		{{ name  }}
		
		<h2>OpenPLC Compiling program {{name}} </h2>
		<textarea id='mytextarea' style='height:500px; resize:vertical'>
loading logs...
		</textarea>
		<br><br><center><a href='dashboard' id='dashboard_button' class='button' style='background-color: #EDEDED; pointer-events: none; width: 310px; height: 53px; margin: 0px 20px 0px 20px;'><b>Go to Dashboard</b></a></center>
	</div>
</div>


	{{ user }} {{ openplc_runtime['project_name']}}
	<div class='top'>"
		"<img src='/static/openplc_logo.gif' alt='OpenPLC' style='width:111px;height:45px;padding:5px 0px 0px 10px;float:left'>")
		<h3 style='font-family:\"Roboto\", sans-serif; font-size:18px; color:white; padding:13px 111px 0px 0px; margin: 0px 0px 0px 0px'><center><span style='color: #02EE07'>Running: </span>openplc_runtime}}</center></h3>
<!--		if openplc_runtime.status() == "Running":
			top_div += "<h3 style='font-family:\"Roboto\", sans-serif; font-size:18px; color:white; padding:13px 111px 0px 0px; margin: 0px 0px 0px 0px'><center><span style='color: #02EE07'>Running: </span>" + openplc_runtime.project_name + "</center></h3>"
		elif openplc_runtime.status() == "Compiling":
			top_div += "<h3 style='font-family:\"Roboto\", sans-serif; font-size:18px; color:white; padding:13px 111px 0px 0px; margin: 0px 0px 0px 0px'><center><span style='color: Yellow'>Compiling: </span>" + openplc_runtime.project_name + "</center></h3>"
		else:
			top_div += "<h3 style='font-family:\"Roboto\", sans-serif; font-size:18px; color:white; padding:13px 111px 0px 0px; margin: 0px 0px 0px 0px'><center><span style='color: Red'>Stopped: </span>" + openplc_runtime.project_name + "</center></h3>"
			 -->
		<div class='user'>
			<!-- flask_login.current_user.pict_file  -->
			<img src='/static/default-user.png'		alt='User' style='width:50px;height:45px;padding:5px 5px 0px 5px;float:right'>
		    <h3 style='font-family:\"Roboto\", sans-serif; font-size:18px; color:white; padding:13px 0px 0px 0px; margin: 0px 0px 0px 0px'>flask_login.current_user.user_name </h3>
		
		</div>
	</div>
<div class='main'>
	<div class='w3-sidebar w3-bar-block' style='width:250px; background-color:#3D3D3D'>
	<br>
    <br>
	<div class="w3-bar-item"><img src="/static/home-icon-64x64.png" alt="Dashboard" style="width:47px;height:32px;padding:0px 15px 0px 0px;float:left"><p style='font-family:"Roboto", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Dashboard</p></div>
	<div class="w3-bar-item"><img src='/static/programs-icon-64x64.png' alt='Programs' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Programs</p></div>
	<div class="w3-bar-item"><img src='/static/modbus-icon-512x512.png' alt='Modbus' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Slave Devices</p></div>
	<div class="w3-bar-item"><img src='/static/monitoring-icon-64x64.png' alt='Monitoring' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Monitoring</p></div>
	<div class="w3-bar-item"><img src='/static/hardware-icon-980x974.png' alt='Hardware' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Hardware</p></div>
	<div class="w3-bar-item"><img src='/static/users-icon-64x64.png' alt='Users' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Users</p></div>
	<div class="w3-bar-item"><img src='/static/secon-64x64.png' alt='Settings' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Settings</p></div>
	<div class="w3-bar-item"><img src='/static/logout-icon-64x64.png' alt='Logout' style='width:47px;height:32px;padding:0px 15px 0px 0px;float:left'><p style='font-family:\"Roboto\", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>Logout</p></div>
	<br>
	<br>
	</div>
	<div style="margin-left:320px; margin-right:70px">
		<div style="w3-container">
		<br>

		<!-- scr="{{ url_for('static', filename='images/foo.jpg') }}" -->
		{{ name  }}
		
		<h2>OpenPLC Compiling program {{name}} </h2>
		<textarea id='mytextarea' style='height:500px; resize:vertical'>
loading logs...
		</textarea>
		<br><br><center><a href='dashboard' id='dashboard_button' class='button' style='background-color: #EDEDED; pointer-events: none; width: 310px; height: 53px; margin: 0px 20px 0px 20px;'><b>Go to Dashboard</b></a></center>
		</div>
	</div>
</div>
{% endblock %}
</body>

<script>
	(function (global)
	{
		if(typeof (global) === "undefined")
		{
			throw new Error("window is undefined");
		}

		var _hash = "!";
		var noBackPlease = function ()
		{
			global.location.href += "#";

			// making sure we have the fruit available for juice....
			// 50 milliseconds for just once do not cost much (^__^)
			global.setTimeout(function ()
			{
				global.location.href += "!";
			}, 50);
		};

		// Earlier we had setInerval here....
		global.onhashchange = function ()
		{
			if (global.location.hash !== _hash)
			{
				global.location.hash = _hash;
			}
		};

		global.onload = function ()
		{
			loadData();
			noBackPlease();

			// disables backspace on page except on input fields and textarea..
			document.body.onkeydown = function (e)
			{
				var elm = e.target.nodeName.toLowerCase();
				if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea'))
				{
					e.preventDefault();
				}
				// stopping event bubbling up the DOM tree..
				e.stopPropagation();
			};
		};
	})(window);

	var req;

	function loadData()
	{
		url = 'compilation-logs'
		try
		{
			req = new XMLHttpRequest();
		} catch (e)
		{
			try
			{
				req = new ActiveXObject('Msxml2.XMLHTTP');
			} catch (e)
			{
				try
				{
					req = new ActiveXObject('Microsoft.XMLHTTP');
				} catch (oc)
				{
					alert('No AJAX Support');
					return;
				}
			}
		}

		req.onreadystatechange = processReqChange;
		req.open('GET', url, true);
		req.send(null);
	}

	function processReqChange()
	{
		//If req shows 'complete'
		if (req.readyState == 4)
		{
			compilation_logs = document.getElementById('mytextarea');
			dashboard_button = document.getElementById('dashboard_button');

			//If 'OK'
			if (req.status == 200)
			{
				//Update textarea text
				compilation_logs.value = req.responseText;
				if ((req.responseText.search("Compilation finished with errors!") != -1) || (req.responseText.search("Compilation finished successfully!") != -1))
				{
					dashboard_button.style.background='#E02222'
					dashboard_button.style.pointerEvents='auto'
				}

				//Start a new update timer
				timeoutID = setTimeout('loadData()', 1000);
			}
			else
			{
				compilation_logs.value = 'There was a problem retrieving the logs. Error: ' + req.statusText;
			}
		}
	}
</script>
</html>